

#blue{
	background-color:purple;
}

body{
	height: 1300px;
	background-color: black;
}

#Gray{
	background-color: purple;
	color: white;
	text-align: center;
	
}

#Purple{
	background-color: purple;
	color: white;
	text-align: center;
}